#scheduleTable
{
    border-collapse:collapse;
    /*margin-left: -2.3em ;*/
    margin-bottom: 2em;

}

#scheduleTable td
{
    border:0.1em solid white;
}

.labelColumn
{
    border:0.1em white;
    color:#447772;
    background:white;
    width: 1em;
    font-weight:bold;
}

#scheduleTable tr
{
    height:8em;
}

#scheduleTable tr:first-child
{
    height:2em;
}

#scheduleTable th
{
    border:0.1em solid white;
    width 5em;
    background:white;
    color:#447772;
}

.volunteer
{
    background:#dd6b05;
    color:white;
    border-radius:0.5em;
    margin: 0.3em;
    padding: 0.3em;
    text-align: right;
}

#scheduleTable .slot
{
    background: #8cb217;
    color: black;
    border: 0.3em solid white;
    width: 6.5em;
}
.ui-tooltip
{
    background:white;
    max-width: 100em;
    width: 25em;
    
}


