body {
	margin: 0px auto;
	padding: 0px auto;
	font-size: 1em;
	color: #333333;
	background-color: #daca85;
	
}
pre {
	margin-left: 20px;
	padding: 10px;
	background: #222; 
	color: #fff;
}

/* BODY CONTENT -- The basic styles you will use for text content */

body, p, h1, h2, h3, ul, li, a:link, a:visited, a:hover, a:active, .nav, .admin  {
	font-family: Myriad, Arial, sans-serif;
}

p { 
	font-size: .9em; 
	color: #333333;
	background-color: #ffffff;
	line-height: 1.7em;
	margin-left: 0px;
	margin-right: 0px;
	padding-bottom: 15px;  
}

h1 {
	font-size: 1.4em;
	color: #dd6b05; 
	background: #fff;
	margin: 15px 0px 10px 0px;
	border-bottom: none;
}

h2 {
	font-size: 1.1em;
	color: #447772; 
	background: #ffffff;
	line-height:  1.5em;
}

h3 {
	font-size: 1em;
	color: #dd6b05;
	background: #ffffff;
	line-height:  1.5em;
}

ul {
	list-style-type: square;
}

li {
	list-style-type: square;
}

ol li {
	list-style-type: decimal;
}

.orangetext {
	color: #dd6b05;
}

.footnote  {
	font-size: .7em;

}

td {
padding: 10px;
white-space:nowrap;
}

/* LINKS */

a:link {
color:#447772;
text-decoration:underline;
} 
     
a:visited {
color:#447772;
text-decoration:underline;
} 

a:hover {
color:#7d9f15;
}  

a:active {
color:#7d9f15;
text-decoration:underline;
}   



/* PAGE LAYOUT STRUCTURE -- contains the header and content sections */

#container {
	margin: 0px auto;
	padding: 0px auto;
	width: 1024px;
	
}

/* HEADER and NAVIGATION */

#headerplaced {
		
}

.header {
	background: #8cb217;
	height: 120px;
	padding: 0px;
	margin: 0px;
}

.imageleft {
	float:left;
	width:300px;
}

.admin ul {
	font-size: .9em;
	font-weight: bold;
	float: right;
	line-height:  1.7em;
	background:#8cb217;
	padding: 8px 20px;
	margin: 0px;
}

.admin li {
	list-style-type: none;
	background:#8cb217;
}

.admin a {
	color: #ffffff;
	text-decoration: none;
}

.admin a:hover {
	color: #dd6b05;
	text-decoration: none;
}

.nav {
	display: block;
	width: 100%;
	height: 20px;
	font-size: 1em;
	text-transform: none;
	background: #538681;
	padding: 0px;
	margin: 0px;
	clear: both;

}

.nav ul {
	list-style-type: none;
	text-align: center;
	background: #538681;
	padding: 0px;
	margin: 0px;
}

.nav ul li {
	list-style-type: none;
	display: inline-block;
	padding: 10px 20px 5px 35px;
	text-align: center;
}
.nav ul li a {
	color: #ffffff;
	text-decoration: none;
}
.nav ul li a:hover {
	color: #8cb217;
}
.nav ul li.current, li.current a {
	background: #dd6b05; 
}

.nav ul li.current2, li.current2 a {
	color: #dd6b05;
	background: #daca85;
}

/* CONTENT holds the 2 columns for most pages: main and sidebar and 3 columns for the home page: mainhome, leftbarhome, and rightbarhome*/

.content {
	display: table;
	clear: both;
	width: 100%;
	margin: 16px 0px 0px 0px;
}		
	
.main, .sidebar {
	float: none;
	padding: 0px;
	vertical-align: top;
	
}
	
.main {
	width: 71%;
	background-color: #ffffff;
	display: table-cell;
	vertical-align:top;
	padding: 2% 2% 6% 4%;

}
	
.sidebar {
	width: 21%;
	display: table-cell;
	vertical-align: top;
	border-left: 2px solid #538681;
	padding: 2%;
	background-color: #ffffff;
	
}

.sidebar p {
	font-size: .8em; 
	
}

.sidebar ol {
	font-size: .8em; 
	
}

/* HOME PAGE LAYOUT -- is different from the rest of the pages - 3 columns: mainhome, leftbarhome, and rightbarhome */

.mainhome, .leftbarhome, .rightbarhome {
	float: none;
	padding: 0px;
	vertical-align: top;
}
		
.leftbarhome {
	width: 21%;
	display: table-cell;
	vertical-align: top;
	background-color: #ffffff;
	border-right: 2px solid #538681;
	padding: 2%;
}

.mainhome {
	width: 50%;
	background-color: #ffffff;
	display: table-cell;
	vertical-align:top;
	padding: 2%;

}

.rightbarhome {
	width: 21%;
	display: table-cell;
	vertical-align: top;
	/* background-color: #dcb23e; */
	border-left: 2px solid #538681;
	padding: 2%;
	background-color: #ffffff;
}

/*
.rightbarhome p  {
		background: #dcb23e; 
	
}
*/
.rightbarhome h3 {
	color: #dcb23e;
	/*background: #dcb23e; */
}	

/*PHOTOS*/

.alignright {
	float:right;
	padding: 1% 0% 0% 0%;
	margin: 2% 0% 2% 2%;
}


/* FOOTER */

#footer {
	border-top: 2px solid #538681;
	border-width: 100%;
	clear:both;
		}
	
#footer p {
	font-size: .7em; 
	margin:auto;
	padding: 0px px 0px 10px;
	width: 100%;
}


/* FORM styles  */

form {
	margin: 0px;
	width: 650px;
	padding: 20px;
	color: #333333;
	border: solid 2px #8cb217;
	background: #ffffff;
}

.formlabels {
	font-family: Myriad, Arial, sans-serif;
	font-size: .8em;
	color: #447772;
	font-weight: bold;
	margin-bottom: 0px;
	padding-bottom: 20px;
}

a.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
	padding: 10px;
	background: #dd6b05;
	color: #fff;
	font-weight: bold;
	border: 2px solid #f6a35a;
	cursor: pointer;
}

a.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover {
	padding: 10px;
	border: 2px solid #f6a35a;
	cursor: pointer;
	font-weight: bold;
	background: #dcb23e;
	color: #ffffff;
}

/*  this is old
button {
	clear:both;
	margin-left:10px;
	width:125px;
	height:32px;
	background: #dd6b05;
	line-height:31px;
	color:#FFFFFF;
	font-size: .9em;
	border: 2px solid #f6a35a;
	padding-bottom: 33px;

}

*/

textarea {
    resize: none;
}

		

/* MISC -- not sure if we are using or not */

.success {
	background: #ffffff;
	color: #8cb217;
	border: solid 2px #8cb217;
	display: block;
	margin: 20px;
	padding: 10px;
}
.success a {
	color: #000;
	text-decoration: none;
}
.err {
	background: #ffffff;
	color: #dd6b05;
	border: solid 2px #dd6b05;
	display: block;
	margin: 20px;
	padding: 10px;
}
	
	
	
/*Specific to jquery.validate*/
.error {
	background: #ffffff;
	color: #dd6b05;
	border: solid 2px #dd6b05;
	display: block;
	margin: 20px;
	padding: 10px;
}

.tooltip1
{
   float: left;
   width: 50%;
   background:white;
   box-sizing: border-box;
   /*border:0.1em solid #AAAAAA;*/
   display:inline;
}
.tooltipName
{
    font-size: 1em;
    font-weight:bold;
}

.tooltip2
{
    float: left;
    width: 50%;
    box-sizing: border-box;
    display:inline;
}

.serviceBlock
{
    background:#dd6b05;
    color:white;
    padding: 0.2em;
    margin: 0.1em;
    border-radius: .2em;
}

.ui-tooltip
{
    background:white;
    width 10em;
}

