#selected
{
    background-color:blue;
}
#scheduleTable
{
    /*border-collapse:collapse;*/
    margin-bottom: 2em;
    border-spacing:0.3em;
}

#scheduleTable td
{
}

.labelColumn
{
    border:0.1em white;
    color:#447772;
    background:white;
    width: 2em;
    font-weight:bold;
}

#scheduleTable tr
{
    height:2em;
}

/*#scheduleTable tr:first-child
{
    height:2em;
}*/

#scheduleTable th
{
    border:0.1em solid white;
    color:#447772;
    background:white;
}


.slot
{
    opacity: 0.5;
    background:#BFE54B;
    color:black;
    width: 6.5em;
    vertical-align:middle;
}
.cellText
{
    background: Transparent;
}
.hiddenTime
{
    display: none;
    height: 0px;
}
.clientBlock
{
    background:#dd6b05;
    color:white;
    border-radius:0.5em;
    margin: 0.3em;
    padding: 0.3em;
}
.selectedSlot
{
    color: white;
    background:#8CB217;
    opacity: 1.0;
    vertical-align:middle;
}
.hiddenDay
{
    display: none;
    height:0px;
}
.ui-tooltip
{
    background:white;
    max-width:400px;
}




