#selected
{
    background-color:blue;
}
#scheduleTable
{
    border-collapse:collapse;
    margin-left: -2.3em ;
    margin-bottom: 2em;
}

#scheduleTable td
{
    width: 2em;
}

.labelColumn
{
    border:0.1em white;
    color:#dd6b05;
    background:white;
    width: 2em;
    font-weight:bold;
}

#scheduleTable tr
{
    height:7em;
}

#scheduleTable th
{
    border:0.1em solid white;
    color:#dd6b05;
    background:white;
    width 2em;
}

.slot
{
    opacity: 0.5;
    background:#BFE54B;
    color:black;
    border:0.1em solid #AAAAAA;
}
.cellText
{
    background: Transparent;
}
.hiddenTime
{
    visibility:hidden;
    height: 0px;
}
.clientBlock
{
    background:#dd6b05;
    color:white;
    border-radius:0.5em;
    margin: 0.3em;
}
.selectedSlot
{
    color: white;
    background:#8CB217;
    opacity: 1.0;
    border:0.1em solid #AAAAAA;
}
.hiddenDay
{
    visibility:hidden;
    height:0px;
}




